@import "tailwindcss";

:root {
  --background: rgb(28, 24, 20);
  --foreground: rgba(255, 255, 255, 0.7);
}

@theme {
  --color-gray: var(--foreground);
  --color-gray-dark: rgb(51, 51, 51);
  --color-gray-darker: rgb(61, 61, 61);
  --color-green: rgb(20, 82, 45);
}

body {
  background-color: var(--background);
  color: var(--foreground);
}
